body {
    margin: 0px;
    background-color: white;
}

.header_blank {
    margin-top: 100px;
}

.content {
    display: block;
}

.catch {
    width: 75%;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}
.catch img {
    border-radius: 10px;
}

.content .column {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;

    font-family: 'Noto Sans JP', sans-serif;
    font-size: larger;
}
